                                /* Tools page style */
@media screen and (min-width: 320px){
#msg_sup{
    display: none;
}
.ptools{
    width: 95%;
    display: grid;
    gap: 20px;
}
.pttable{
    border: 3px solid #d14d4d;
    box-shadow: 0 0 0 10px #7e7e7f, 0 0 0 15px #000000;
    width: auto;
    height: auto;
}
/* #ptcap{
    width: 280px;
    display: flex;
} */
.htools{
    display: grid;
    grid-template-columns: (1fr);
    grid-auto-rows: auto;
    gap: 20px;
}
#httable{
    border: 3px solid #d14d4d;
    box-shadow: 0 0 0 10px #7e7e7f, 0 0 0 15px #000000;
}
#htcap{
    width: 280px;
    display: flex;
}
.access{
    display: grid;
    grid-template-columns: (1fr);
    grid-auto-rows: auto;
    gap: 20px;
}
#acstable{
    border: 3px solid #d14d4d;
    box-shadow: 0 0 0 10px #7e7e7f, 0 0 0 15px #000000;
}
#acscap{
    width: 280px;
    display: flex;
}
/* #prodadd{
    width: 80px;
    height: 40px;
} */
#prodli{
    margin-left: 15px;
}

}

            /* Medium screen size table style */

             @media screen and (min-width: 768px){
#msg_sup{
    display: block;
}
.ptools{
    grid-template-columns: repeat(3, 1fr);
    
}
/* .pttable{
    width: auto;
    height: auto;
} */
/* #ptcap{
     min-width: auto;
     display: flex;
} */
#httable{
    width: 100%;
    height: auto;
}
#htcap{
    font-size: 26px;
    margin:20px;
}
#acstable{
    width: 100%;
    height: auto;
}
#acscap{
    font-size: 26px;
    margin:20px;
}
/* #prodli{
    min-width: 300px;
    height: 50;
} */
 }

                    /* Large screen size table style */
 
                @media screen and (min-width: 1440px){
.ptools{
    column-gap: 40px;
}

}