{% extends 'products_store/base.html' %}
{% load static %}
{% block main %}
    <div>
        <section>
            <h2 class="fs-1 fw-bold mb-5">Power tools</h2>
            <div class="ptools">
            {% for product in products %}
                <figure class="pttable">
                    <img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="80" width="100">
                    <figcaption id="ptcap">
                        <ul id="prodli" class="list-unstyled text-start">
                            <li class="fs-4 fw-bold">{{ product.prod_name }}</li>
                            <li>{{ product.prod_brand }}</li>
                            <li>{{ product.prod_model }}</li>
                            <li>{{ product.prod_id_name }} <input class="selectBox" type="checkbox"> </li>
                            <li>Stock {{ product.prod_stock }}</li>
                        </ul>
                    </figcaption>
                    <button id="prodadd" type="submit" class="btn btn-danger border border-dark border-2">
                            <a href="{% url 'products_store-basket_page' %}">Add</a>
                    </button>
                </figure>
            {% endfor %}
            </div>
        </section>
        <section class="htools">
            <h2  class="fs-4 fw-bold">Hand tools</h2>
            <figure id="httable" class="border border-dark border-3">
                <img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="100" width="100">
                <figcaption id="htcap">
                    <ul class="list-unstyled text-start">
                        <li class="fs-4 fw-bold">Hammer</li>
                        <li>DeWalt</li>
                        <li>Standard</li>
                        <li>01 <input class="selectBox" type="checkbox"> </li>
                        <li>5 left</li>
                    </ul>
                    <button id="prodadd" type="submit" class="btn btn-danger border border-dark border-2"><a href="{% url 'products_store-basket_page' %}">Add</a></button>
                </figcaption>
            </figure>
        </section>
        <section class="access">
            <h2 class="fs-4 fw-bold">Accessories</h2>
            <figure id="acstable" class="border border-dark border-3">
                <img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="100" width="100">
                <figcaption id="acscap">
                <ul class="list-unstyled text-start">
                    <li class="fs-4 fw-bold">Drill bits</li>
                    <li>Bosh</li>
                    <li>ph2</li>
                    <li>01 <input class="selectBox" type="checkbox"> </li>
                    <li>20 left</li>
                </ul>
                </figcaption>
            </figure>
        </section>
        {% if user.is_authenticated %}
        <section id="comlist">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <a class="ps-5" href="{% url 'products_store-comment-create' %}">Create Comment</a>
                    <ul class="list-unstyled text-start border border-dark border-3 px-5">
                            <img src="{{ comment.comwriter.user_profile.image.url }}" 
                                class="rounded border border-dark border-4"
                                width="70" heigth="70">
                            <li class="fs-4 fw-bold"><a href="{% url 'products_store-comments-view' %}">{{ comment.comname }}</a> </li>
                            <li class="fs-6"> Name: {{ comment.comwriter }} </li>
                            <li class="fs-6"> Date: {{ comment.commented_date }} </li>
                    </ul>
                {% empty %}
                        <li>No comments yet.</li>
                {% endfor %}
        </section>
        {% endif %}
    </div>
{% endblock main %}