{% extends 'products_store/base.html' %}
{% load static %}
{% block main %}
    <div>
        {% for category in categories %}
            <section>
                    <h2 class="fs-1 fw-bold mb-5">{{ category.prod_type_name }}</h2>
                <div class="ptools">
                    {% for product in category.products.all %}
                        <figure class="pttable">
                                <img src="{{ product.get_image_url }}"
                                    class="shadow-lg" 
                                    alt="Product image of {{product.prod_name}}" 
                                    width="200" height="100" 
                                    loading="lazy" decoding="async" />
                            <figcaption id="ptcap">
                                <ul id="prodli" class="list-unstyled text-start">
                                    <li class="fs-4 fw-bold">{{ product.prod_name }}</li>
                                    <li>{{ product.prod_brand }}</li>
                                    <li>{{ product.prod_model }}</li>
                                    <li>Qty:<input class="selectBox" type="number" value="1" min="1" max="10"> {{ product.prod_price }} €</li>
                                    <li>Stock {{ product.prod_stock }}</li>
                                </ul>
                            </figcaption>
                            <button id="prodadd" type="submit" class="btn btn-danger border border-dark border-2">
                                    <a class="text-light" href="{% url 'products_store-add_to_basket' product.id %}">Add</a>
                            </button>
                        </figure>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
        {% if user.is_authenticated %}
        <section id="comlist">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <a class="ps-5" href="{% url 'products_store-comment-create' %}">Create Comment</a>
                    <ul class="list-unstyled text-start border border-dark border-3 px-5">
                            <img src="{{ comment.comwriter.user_profile.image.url }}" 
                                class="rounded border border-dark border-4"
                                width="70" heigth="70">
                            <li class="fs-4 fw-bold"><a href="{% url 'products_store-comments-view' %}">{{ comment.comname }}</a> </li>
                            <li class="fs-6"> Name: {{ comment.comwriter }} </li>
                            <li class="fs-6"> Date: {{ comment.commented_date }} </li>
                    </ul>
                {% empty %}
                        <li>No comments yet.</li>
                {% endfor %}
        </section>
        {% endif %}
    </div>
{% endblock main %}